* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #4c4c4c;
}

.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fa-solid{
    margin-right: 0.5rem;
}

/* MAIN CSS */
.main-container{
    background-image: url(assets/img/background-cover.jpg);
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-container > .overlay {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(22, 99, 153, 0.9);
}

.main-container > .profile-thumb {
    position: relative;
    background-size: cover;
    background-image: url(assets/img/profile-thumb.png);
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 15%;
    margin: 0px auto;
}

.main-container > h1, h3,  span  {
    position: relative;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 300;
    color: #fff;
    top: 20%;
    display: grid;
    margin: 0px auto;
    transform: rotate(-2deg);
}

.main-container > h3 > label {
    font-family: "Space Mono", Arial, serif !important;
    transform: rotate(2deg);
    font-size: 25px;
    padding-top: 40px;
    display: grid;
    margin: 0px auto;
}

.main-container > .social-media {
    position: relative;
    color: #fff;
    font-size: 40px;
    top: 23%;
    display: grid;
    justify-content: center;
    margin: 0px 20px;
}

.main-container > .social-media > ul > li, a {
    list-style-type: disc;
    display: inline-block;
    color: #fff;
    padding: 0;
}

.main-container > .social-media > ul > li > a:hover {
    color: #8ebd24;
    transition: 0.3s;
}

.main-container > .view-more {
    position: relative;
    border: 2px solid #fff;
    padding: 10px 5px;
    font-size: 20px;
    top: 28%;
    width: 150px;
    margin: 0px auto;
    display: grid;
    justify-content: center;
    text-decoration: none;
}

.view-more:hover{
    background-color: #8ebd24;
    transition: 0.3s;
}


/* NAVIGATION */
.navigation-header {
    padding: 10px 16px;
    background-color: rgba(17, 70, 107);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

.navigation-header > ul > li, a {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
}

.navigation-header > ul > li > a:hover {
    color: #8ebd24;
}



/* ABOUT ME */
.content {
    height: 120vh;
    background-color: #fff;
    display: grid;
    grid-template-rows: 10% 90%;
    padding-top: 100px;
    margin: 0 auto;
}

.content-header > .header-title {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
    border-bottom: 2px solid #8ebd24;
    width: 150px;
}

.content-body > .about-img{
    display: grid;
    height: 170px;
    justify-content: center;
    margin: 0 auto;
}

.content-body > .about-description{
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    padding: 0 215px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 250px;
    text-align: center;
    height: 75vh;
}

.skills > .skills-category {
    margin: 30px;
    background-color: #8ebd24;
    padding: 30px;
}

.skills > .skills-category > h2 {
    padding: 5px;
}

.skills-category > ul > li{
    list-style-type: none;
}

/* SLIDE CSS */
.swiper {
    width: 1020px;
    height: 600px;
    z-index: -100;
}

.swiper-wrapper {
    text-align: center;
}

.swiper-title {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    padding: 20px;
}

.swiper-slide{
    background-color: #8ebd24;
}

.timeline > ul > li {
    list-style-type: none;
}

.timeline >  span  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-weight: 200;
    color: black;
    top: 0%;
    margin: 0 auto;
    justify-content: center;
    transform: rotate(0deg);
    font-size: 18px;
    text-align: justify;
    padding: 0 100px;
}

.timeline > ul> .animate-box{
    margin-bottom: 30px;
}

.timeline > ul {
    padding: 0 250px;
    text-align: center;
}

.company{
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    font-family: sans-serif;
    transform: rotate(0deg);
    color: black;
}

.timeline-body{
    font-size: 20px;
}

.timeline-title {
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px 20px 20px;
    width: 300px;
    color: rgba(22, 99, 153);
    border-bottom: 2px solid #8ebd24;
    transform: rotate(0deg);
    font-family: sans-serif;
    text-align: center;
}

span > .timeline {
    font-weight: 200;
    color: black;
}

.fa {
    margin-right: 0rem;
}
.icon-button{
    padding: 20px 25px;
    background-color: rgba(22, 99, 153);
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
}

.icon-button:hover{
    color: #8ebd24;
}

.btn-cv{
    padding: 20px 30px;
    background-color: rgba(22, 99, 153);
    color: #fff;
}



/* large devices */
@media only screen and (min-width: 769px) {
    .content {
        width: 1280px;
    }
    
}

/* medium devices */
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .nav-links > li > a > .link-name {
        display: none !important;
    }

    .content-body > .about-img{
        display: grid;
        height: 80px;
        justify-content: center;
        margin: 0 auto;
    }

    .content-body > .about-description{
        margin-top: 20px;
        font-size: 18px;
        text-align: justify;
        padding: 0 100px;
    }

    
    .skills {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr;
        margin: 0;
        text-align: center;
        height: 75vh;
    }

    .skills > .skills-category {
        margin: 0 30px;
        background-color: #8ebd24;
        padding: 30px;
    }

    .timeline {
        padding: 0 20px;
    }
    
    /* .timeline > h1, h3,  span  {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        font-weight: 200;
        color: black;
        top: 0%;
        margin: 0 auto;
        justify-content: center;
        transform: rotate(0deg);
        font-size: 15px;
        text-align: justify;
        padding: 0 100px;
    } */

    .timeline > ul> .animate-box{
        margin-bottom: 20px;
    }

    .timeline > ul {
        padding: 30px;
        text-align: justify;
    }

    .company{
        font-size: 20px;
        font-weight: 200;
        padding: 10px;
        font-family: sans-serif;
        transform: rotate(0deg);
        color: black;
    }

    .timeline-body{
        font-size: 16px;
    }

    .timeline-title {
        font-size: 20px;
        font-weight: bold;
        padding: 0 20px 20px 20px;
        width: 300px;
        color: rgba(22, 99, 153);
        border-bottom: 2px solid #8ebd24;
    }

    span > .timeline {
        font-weight: 200;
        color: black;
    }

    .timeline-heading {
        display: grid;
        justify-content: center;
        margin: 0px;
    }

    .icon-button{
        margin: 5px;
    }

    .main-name {
        font-size: 40px;
    }
}


/* small devices */
@media only screen and (max-width: 320px){
    /* MAIN */
    .main-container > .profile-thumb {
        height: 150px;
        width: 150px;
   }
   
   .main-container > h1, h3,  span {
    font-size: 45px;
   }

   .main-container > .social-media {
    font-size: 35px;
   }

   .main-container > h3 > .role-description{
    font-size: 20px;
   }

   .main-container > .view-more {
     position: relative;
     border: 2px solid #fff;
     padding: 8px 2px;
     font-size: 18px;
     width: 150px;
    }

    .main-name {
        font-size: 40px;
    }


    /* NAVIGATION */
    .nav-links > li > a >.link-name {
        display: none !important;
    }
}



